[project]
	description = Automatically exported from code.google.com/p/gitv
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Namwoo Kim (kimtree)
[access "refs/for/refs/*"]
	read = group user/Namwoo Kim (kimtree)
	push = group user/Namwoo Kim (kimtree)
	label-Code-Review = -2..+2 group user/Namwoo Kim (kimtree)
	label-Verified = -1..+1 group user/Namwoo Kim (kimtree)
	rebase = group user/Namwoo Kim (kimtree)
	removeReviewer = group user/Namwoo Kim (kimtree)
	submit = group user/Namwoo Kim (kimtree)
[access "refs/heads/*"]
	read = group user/Namwoo Kim (kimtree)
	create = group user/Namwoo Kim (kimtree)
	push = +force group user/Namwoo Kim (kimtree)
	pushMerge = group user/Namwoo Kim (kimtree)
[access "refs/tags/*"]
	push = group user/Namwoo Kim (kimtree)
	push = +force group user/Namwoo Kim (kimtree)
